
body{

    background-color: #76292A;

}

.auth-wrapper {
    min-height: 60vh;
}


/*
.wrapper{
    background-color: #800020;
}

*/
.form-text{
    font-size: 1.8rem ;
}


.btn{
    font-size: 2rem;
}

.form-login input{
  font-size: 2rem;

}

form  input, label{
    font-size: 1.5rem;
}




.cta-form{
    font-size: 1.9rem;
}



.form-signup input{
    font-size: 1.9rem;

}

